/* ketika ingin membuat element html sejajar 1 baris atau 1 kolom bisa gunakan display:flex */
div.container {
    display: flex;
    width: 80%;
    height: 400px;
    /* 
    top and bottom --> 0
    left and right --> auto (sisa dari ruang yang ada akan dibagi sama rata untuk kanan dan kiri)
     */
    margin: 0 auto;
    background-color: thistle;
}

.container div {
    border: 1px solid red;
    background-color: aqua;
    color: black;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    width: 25%;
    height: 20%;
}

/* Flex Container */
/* property yang hanya dimiliki oleh container */
/* flex-direction || flex-wrap || flex-flow */
.container {
    /* untuk arah element */
    /* flex-direction: row (default) || row-reverse || column || column-reverse; */
    flex-direction: row;
    /* row tinggi akan full dan kalau column lebar akan full */

    /* flex-wrap: nowrap (default , element akan ikut menyusut mengikut container jika di perkecil ) ||
                wrap (mempertahankan bentuk dan akan turun ke bawah jika container diperkecil) ||
                wrap-reverse; */
    flex-wrap: wrap;

    /* flex-flox (shorthand) */
    /* flex-direction: row-reverse; */
    /* flex-wrap: wrap; */
    /* flex-flow:  row wrap; */
}

/* justify-content || align-content */
.container {

    /* 
    ROW:
        - Horizontal : justify-content
        - Vertical : align-content
    Column:
        - Horizontal : align-content
        - Vertical : justify-content
    */

    /* justify dan align posisi nya akan tergantung dengan flex-direction: row atau column */
    /* justify-content: flex-start || flex-end || center 
        || space-around ( margin antara flex-item akan lebih lebar dibanding margin antara flex-item dengan border content)
        || space-between (margin hanya ada di anatara flex-item)
        || space-evenly (margin antara flex-item dan margin flex-item dengan border ; */
    justify-content: space-evenly;


    /* align-content:flex-start || flex-end || center || space-around || space-between; */
    align-content: center;

    /* box-sizing: border-box; --> jika di tambah padding maka ukuran asli akan berkurang dan element akan tetap sebesar ukuran asli dengan tambahan padding  */
    /* box-sizing: content-box; --> jika di tambah padding maka ukuran asli tidak berubah dan element akan bertambah lebih besar dengan padding  */
}

/* FLEX ITEM PROPERTY*/
/* ORDER : URUTAN */
/* FLEX : LEBAR */

#item-1 {
    order: 3;
    flex: 2;
}

#item-2 {
    order: 1;
    flex: 1;
}

#item-3 {
    order: 2;
    flex: 1;

}