* {
    margin: 0;
    padding: 0;
}

#page {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-areas: "nav nav"
        "main main"
        "foot foot";
    grid-template-rows: 14% 72% 14%;
}

#page>nav {
    grid-area: nav;
    background: rgb(163, 255, 75);
    background: linear-gradient(90deg, rgba(163, 255, 75, 1) 0%, rgba(0, 212, 255, 1) 100%);
}

#page>main {
    grid-area: main;
    background-image: url("./assets/background.jpg");
    padding: 100px;
    text-align: center;
}

#page>footer {
    grid-area: foot;
    background-color: white;
}

nav ul {
    display: flex;
    width: 100%;
    color: white;
    flex-direction: row;
    justify-content: space-evenly;
}

nav ul li {
    text-decoration: none;
    display: inline;
    font-size: 28px;
    color: white;
    padding: 30px;
    font-weight: bold;
    margin-top: 30px;
}

/* Main */
.img-profile {
    height: 300px;
    width: 300px;
    border-radius: 50%;
}

main h1 {
    color: white;
    font-size: 70px;
    text-align: center;
    font-weight: bold;
}

main p {
    color: rgba(240, 248, 255, 0.651);
    font-size: 30px;

}

main button {
    background-color: rgb(240, 47, 175);
    color: white;
    font-weight: 500;
    font-size: 22px;
    height: 60px;
    width: 200px;
    border-radius: 60px;
    margin-top: 50px;
    border: none;

    font-family: 'Roboto', sans-serif;
    letter-spacing: 2.5px;

    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

main button:hover {
    background-color: salmon;
    box-shadow: 0px 15px 20px rgba(163, 255, 75, 1);
    color: white;
    transform: translate(10px, -20px);
}


/* Footer */

footer {
    width: 100%;
}

.container-footer {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 15% 15% 15% 15%;
    justify-content: space-evenly;
    align-content: space-around;

    font-size: 30px;
    font-weight: bold;
    border: 1px solid black;
}

.fab {
    margin-top: 10px;
    text-decoration: none;
    font-size: 100px;
}

.container-footer div {
    text-align: center;
    padding: 10px;
}

/* titik punyanya style list
dan underline punyanya style anchor */