/* SELECTOR */

/* Semua tag H2 */
/* 
    h2 : selector
    color : property
    gold : value property
*/
h2 {
    color: gold;
}

/* Semua tag P */
p {
    color: greenyellow;
}

/* ############ */
/* #### ID #### */
/* ############ */

/* Semua tag yang memiliki id = danger */
#danger {
    color: red;
}

/* ############### */
/* #### CLASS #### */
/* ############### */
.warning {
    color: yellow;
}


/* ################### */
/* #### ATTRIBUTE #### */
/* ################### */

/* Semua tag yang memiliki attribute 'name */
[name] {
    border: 2px solid plum;
}

/* ####################### */
/* #### OPTION COLORS #### */
/* ####################### */

#corn {
    background-color: cornflowerblue;
    border-width: 5px;
    border-style: solid;
    border-color: pink;
}

/* Red Green Blue : 0 - 255 */
#rgb {
    background-color: rgb(226, 170, 47);
    border: 5px solid rgb(123, 125, 245);
}

/* Red Green Blue : 0 - 255 */
/* Alpha : 0-1 */
#rgba {
    background-color: rgba(226, 119, 47, 0.342);
    border: 5px solid rgba(123, 190, 245, 0.699);
}

/* Hex : 0 - 9 dilanjutkan a - f */
#hex {
    background-color: #deff82;
    border: 5px solid #23f86a;
}

/* ######################## */
/* #### BACKGROUDN DIV #### */
/* ######################## */

/* style untuk setiap tag div di dalam 'box-container */
div.box-container div {
    width: 500px;
    height: 300px;
    /* posisi tinggi text dari atas / vertikal */
    line-height: 300px;
    /* posisi text berdasarkan horizontal */
    text-align: center;
    font-size: 20px;
    margin: 5px;
    border: 5px solid black;
}

.background-color {
    background-color: rebeccapurple;
}

.background-image {
    background-image: url(./assets/pictures/logo-css-150x150.png);
    /* agar gambar tidak terulang / muncul lebih dari satu */
    background-repeat: no-repeat;

    /* posisi gambar */
    /* bawah kanan , bottom right */
    background-position: bottom right;
}